{% extends "layout.html" %}

{% block title %}
    Update a product
{% endblock %}

{% block main %}

    <div class="form-signin w-100 m-auto p-1">
        <h1 class="h3 mb-3 fw-normal">Update a product</h1>

        <form action="{{ url_for('update_product') }}" method="post">

            <input hidden id="floatingId" name="id" value="{{ id }}">

            <div class="form-floating mb-1">
                <input class="form-control" id="floatingTitle" name="title"
                    placeholder="Title" type="text" value="{{ data.get('title') }}">
                <label for="floatingTitle">Title</label>
            </div>

            <div class="form-floating mb-1">
                <textarea class="form-control" id="floatingDescription" name="description"
                    placeholder="Description" style="min-height: 150px">{{ data.get('description') }}</textarea>
                <label for="floatingDescription">Description</label>
            </div>

            <div class="form-floating mb-1">
                <input class="form-control" id="floatingCategory" name="category"
                    placeholder="Category" type="text" value="{{ data.get('category') }}">
                <label for="floatingCategory">Category</label>
            </div>

            <div class="form-floating mb-1">
                <input class="form-control" id="floatingPrice" name="price"
                    placeholder="price" type="number" step="0.01" value="{{ data.get('price') }}">
                <label for="floatingPrice">Price</label>
            </div>
            
            <div class="form-floating mb-1">
                <input class="form-control" id="floatingStock" name="stock"
                    placeholder="Stock" type="number" value="{{ data.get('stock') }}">
                <label for="floatingStock">Stock</label>
            </div>
    
            <button class="btn btn-primary w-100 py-2" type="submit">Submit</button>
    
        </form>
    </div>

{% endblock %}
